body{
    background-color: #545551;
    margin: 0;
    padding: 0;
}

div {
    color: #FFF;
}

.nav{
    border-left: 100px;
    background-color: #272822;
    margin-bottom: 30px;
    width: 100%;
}

.nav li a{
    color: #FFF;

}

.nav li a:hover{
    color: #FFF;
    background-color: #022E6E;
}

.nav li a:focus{
    color: #FFF;
    background-color: #272822;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    color: #FFF;
    background-color: #272822;
}


.nav-padding{

    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    color: #FFF;
    background-color: #272822;
}

#entryDescription{
    background-color: #222;
}

.dropdown-menu li a{
    color: #FFF;
}

tr{
    color: #FFF;
    background-color: #222;
}

.two-options{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.incorrect{
    box-shadow:0 0 20px red;
}

.dropdown-menu {
    color: #FFF;
}

input{
    color: #000;
}